.mainContainer {
    margin: 10% 0 0 35%;
    text-align: center;
    background-color: aquamarine;
    width: 30%;
    height: 50%;
    border-radius: 6px;
    padding: 10px;
    border: 2px solid black;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

input {
    border: 2px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 10px;
    margin: 5px;
    font-size: 13px;
    font-weight: 500;
}

.input1 {
    border: 2px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 5px 5px 5px 17px;
    margin-right: 9%;
    width: 20px;
    font-size: 15px;
    font-weight: 500;
}

.span {
    font-size: 12px;
}

button {
    padding: 3px 10px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border: 2px solid black;
    width: 20%;
}

p {
    font-weight: 500;
}